.breadcrum {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0% 10%;
    padding-top: 150px;
    text-transform: capitalize;
}